In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Date.1,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Narsaq,GL,2021-01-31 14:56:42,2021-01-31 14:56:42,60.9167,-46.0500,39.20,30,75,32.21
1,1,Bihariganj,IN,2021-01-31 14:56:43,2021-01-31 14:56:43,25.7333,86.9833,56.37,44,0,6.38
2,2,Altamont,US,2021-01-31 14:53:24,2021-01-31 14:53:24,42.2068,-121.7372,35.60,69,75,13.80
3,3,Haimen,CN,2021-01-31 14:56:43,2021-01-31 14:56:43,23.1935,116.6142,59.00,82,0,3.20
4,4,Zhuhai,CN,2021-01-31 14:56:43,2021-01-31 14:56:43,22.2769,113.5678,70.00,82,40,4.61

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Date.1         object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    [max(temp, 0) for temp in max_temp]

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))