In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Date.1,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-01-31 17:09:27,2021-01-31 17:09:27,-46.1927,168.8643,55.38,70,100,2.08
1,1,Pevek,RU,2021-01-31 17:09:27,2021-01-31 17:09:27,69.7008,170.3133,-27.85,84,75,1.88
2,2,Kaitangata,NZ,2021-01-31 17:09:27,2021-01-31 17:09:27,-46.2817,169.8464,60.01,91,100,1.99
3,3,Bengkulu,ID,2021-01-31 17:09:27,2021-01-31 17:09:27,-3.8004,102.2655,76.03,86,100,5.14
4,4,Pingliang,CN,2021-01-31 17:09:27,2021-01-31 17:09:27,35.5392,106.6861,30.74,69,81,5.19

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Date.1         object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    [max(temp, 0) for temp in max_temp]

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.tail(10)

,City_ID,City,Country,Date,Date.1,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
543,543,Abapo,BO,2021-01-31 17:10:52,2021-01-31 17:10:52,-18.8333,-63.4667,84.47,57,60,5.99
544,544,Mana,GF,2021-01-31 17:10:52,2021-01-31 17:10:52,5.6592,-53.7767,81.46,71,57,13.20
547,547,Conakry,GN,2021-01-31 17:08:19,2021-01-31 17:08:19,9.5380,-13.6773,82.02,63,0,14.41
548,548,Grand Gaube,MU,2021-01-31 17:10:53,2021-01-31 17:10:53,-20.0064,57.6608,81.00,73,47,5.99
551,551,Iquique,CL,2021-01-31 17:06:45,2021-01-31 17:06:45,-20.2208,-70.1431,75.20,57,0,14.97
552,552,Mocuba,MZ,2021-01-31 17:10:54,2021-01-31 17:10:54,-16.8392,36.9856,77.29,94,63,4.54
557,557,Cermeno,PA,2021-01-31 17:10:54,2021-01-31 17:10:54,8.7333,-79.8500,90.00,62,20,25.32
564,564,Simpang,ID,2021-01-31 17:10:56,2021-01-31 17:10:56,-1.2667,104.0833,75.81,92,87,3.42
567,567,Puerto Leguizamo,CO,2021-01-31 17:10:56,2021-01-31 17:10:56,-0.1934,-74.7819,88.03,49,83,5.35
569,569,Ambon,ID,2021-01-31 17:10:56,2021-01-31 17:10:56,-3.6954,128.1814,81.95,77,100,12.53

In [17]:
preferred_cities_df.count()

City_ID       173
City          173
Country       171
Date          173
Date.1        173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3          Bengkulu      ID     76.03  -3.8004  102.2655
5           Sibolga      ID     75.78   1.7427   98.7792
8        Georgetown      MY     80.60   5.4112  100.3354
16     Puerto Ayora      EC     86.00  -0.7393  -90.3518
21  Bambous Virieux      MU     82.40 -20.3428   57.7575
26       Hambantota      LK     78.28   6.1241   81.1185
27          Pitimbu      BR     87.80  -7.4706  -34.8086
30         Lufilufi      WS     80.60 -13.8745 -171.5986
33          Rikitea      PF     78.62 -23.1203 -134.9692
34           Rawson      AR     80.02 -43.3002  -65.1023

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))